.transition-wrapper {
  transform: scale(0);
  display: flex;
  justify-content: center;
}

.transition-wrapper.minimized {
  transform: scale(0);
}

.transition-wrapper.maximized {
  transform: scale(1);
}

html {
  background-color: rgb(41, 36, 80);
}

.ready-indicator-durdle {
  /* display: inline-block; */
  animation: durdle 1.3s ease-in-out infinite alternate both;
}

@keyframes durdle {
  0% {
    transform: rotate(-35deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
}

.ready-indicator-pop-in {
  animation: pop-in 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes pop-in {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  90% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.wrapper-thing:focus {
  outline: none;
}

.active-level-pulse {
  filter: drop-shadow(0px 0px 0px rgba(205, 205, 205, 0.1));
	animation: active-level-pulse 1.5s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes active-level-pulse {
	0% {
    filter: drop-shadow(0px 0px 0px rgba(205, 205, 205, 1));
	}

	70% {
    filter: drop-shadow(0px 0px 15px rgba(205, 205, 205, 0));
	}

	100% {
    filter: drop-shadow(0px 0px 0px rgba(205, 205, 205, 0));
	}
}

.ready-level-pulse {
  box-shadow: 0 0 0 0 rgba(47, 205, 113, 1);
	animation: ready-level-pulse 1.25s cubic-bezier(0.33, 1, 0.68, 1);
}

@keyframes ready-level-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(47, 205, 113, 0.7);
	}

	70% {
		box-shadow: 0 0 10px 20px rgba(47, 205, 113, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(47, 205, 113, 0);
	}
}