.grid-transition-wrapper {
  transform: scale(0);
  display: flex;
  justify-content: center;
}

.grid-transition-wrapper.minimized {
  transform: scale(0);
}

.grid-transition-wrapper.maximized {
  transform: scale(1);
}

html {
  background-color: rgb(41, 36, 80);
}

.ready-indicator-durdle {
  /* display: inline-block; */
  animation: durdle 1.3s ease-in-out infinite alternate both;
}

@keyframes durdle {
  0% {
    transform: rotate(-35deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
}

.ready-indicator-pop-in {
  animation: pop-in 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes pop-in {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  90% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

.wrapper-thing:focus {
  outline: none;
}